<%- include("../includes/head.ejs") %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/create-job.css">
<link rel="stylesheet" href="/css/create-form.css">
<script src="/scripts/newJob.js" defer></script>
</head>

<body class="ff-primary">
    <%- include("../includes/logged-in-navigation.ejs") %>
    <section class="create-profile-section grid bg-primary-300">
        <div class="create-profile-form-container grid bg-neutral-100">
            <h2 class="form-title">Create profile</h2>
            <form action="/edit-profile" class="create-company-form flex" method="POST">
                <div class="name-input-container flex">
                    <div class="name-input grid">
                        <label for="userFirstName" class="create-company-label text-neutral-500">First Name</label>
                        <input type="text" name="userFirstName"
                            class="create-company-input company-name-input bg-neutral-200" required
                            value="<%= user.first_name %>">
                    </div>
                    <div class="name-input grid">
                        <label for="userLastName" class="create-company-label text-neutral-500">Last Name</label>
                        <input type="text" name="userLastName"
                            class="create-company-input company-name-input bg-neutral-200" required
                            value="<%= user.last_name %>">
                    </div>
                </div>
                <label for="userExperience" class="create-company-label text-neutral-500">Experience</label>
                <textarea name="userExperience"
                    class="create-company-textarea experience-textarea bg-neutral-200"><%= user.experience %></textarea>

                <div class="language-area flex">
                    <div class="selected-language-container">
                        <label for="languages" class="create-job-label">Proficient Language(s)</label>
                        <textarea name="languages"
                            class="create-job-textarea selected-language-textarea user-selected-language-textarea text-neutral-200"
                            readonly><%= userLanguagesString %></textarea>

                        <div class="required-language-button-container">
                            <% user.language.forEach(language => { %>
                            <button class="flex selected-language-button fs-400 text-neutral-500 bg-primary-300">
                                <%= language %>
                                <i class="fa-solid fa-xmark fa-icon"></i>
                            </button>
                            <% }) %>
                        </div>
                    </div>
                    <div class="search-language-area flex">
                        <label for="search-bar" class="create-job-label">Search Language</label>
                        <input type="search" class="create-job-input search-language-input">

                        <div class="language-container bg-neutral-200 flex">
                            <% languages.forEach(language => { %>
                            <button class="bg-primary-300 fs-400 language-button"><%= language.name %></button>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <button class="create-company-button bg-primary-500 text-neutral-100 fw-bold">Save</button>
            </form>
        </div>
    </section>
</body>

</html>